$color-white: #fff;
$color-black:#000;
$color-grey:#777;
$grey-background:#f7f7f7;
$icon-background: #111;
$blue-color: #8a90ff;
$gutter-horizontal: 1rem;
$gutter-horizontal-2:12rem;
$gutter-horizontal-3: 5rem